@import "../../common/variables.scss";

.main-menu
  position: fixed
  top: $infobar-height
  width: $main-menu-width
  height: calc(100vh - 44px)
  background-color: black

  &-item.bp3-button:not([class*="bp3-intent-"])
    width: $main-menu-width
    height: $main-menu-item-height
    padding: 5px 5px
    background-color: black
    background-image: none
    &:hover
      background-color: inherit

  &-icon
    width: 32px
    height: 32px
    fill: $light-text
    &:hover
      fill: $light-text-hover
    
  &-icon.warning
    fill: $intent-warning
    &:hover
      fill: $intent-warning-hover




  // .bp3-button
  //   background-color: black

  // &-submenu.bp3-menu
  //   text-transform: capitalize
  //   background-color: blue
  //   color: green

  //   .bp3-menu-header
  //     background-color: blue
  //     color: red
