@import "../../common/variables.scss";

.infobar-container {
  width: 100%;
  min-width: $app-width;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 15;

  .infobar {
    width: $app-width;
    height: $infobar-height;
    background-color: inherit;
    color: $light-text;
    padding: 0;

    .bp3-navbar-group {
      height: $infobar-height;
    }

    .bp3-button:not([class*="bp3-intent-"]) {
      padding: 0 5px;
      color: $light-text;
      background-color: inherit;
      background-image: none;
      &:hover {
        background-color: inherit;
        color: $light-text-hover ;
        text-shadow: $light-text-shadow;

        .bp3-icon {
          color: $light-text-hover;
        }
      }

      .bp3-icon {
        color: $light-text;
      }
    }

    .bp3-button.bp3-minimal.bp3-intent-warning {
      color: $intent-warning;
      &:hover {
        background: inherit;
        color: $intent-warning-hover;
      }
    }

    h1 {
      font-size: 1.75em;
      line-height: $infobar-height;
      margin: 0;
      color: $light-text;
      font-variant: small-caps;
      &:hover {
        color: $light-text-hover ;
        text-shadow: $light-text-shadow;
      }
    }

    .bp3-navbar-divider {
      border-left: 1px solid rgba($light-text, 0.5);
    }
  }
}
