.navbar
  position: fixed
  top: 44px
  width: 42px
  height: calc(100vh - 44px)
  background-color: black
  color: #DDDDDD

  &-item
    width: 32px
    height: 32px
    margin: 10px 5px
    fill: #DDDDDD
    &:hover
      fill: #999999
