@import "../../common/variables.scss";

.page-container {
  padding-top: $infobar-height;
  padding-left: $main-menu-width;
  width: $app-width;
  min-height: $page-container-min-height;

  .page-content {
    position: relative;
    padding: 5px;
    padding-bottom: $footer-height + 5px;
    background: rgba(250, 250, 250, 0.75);
    // z-index: -2;
    min-height: $page-content-min-height;

    .bp3-tab-panel {
      margin-top: 5px;
    }
  
    .bp3-tab-list > *:nth-last-child(2) {
      margin-right: 0;
    }
  
    .bp3-tab {
      color: $gray1;
      font-weight: 600;
  
      &[aria-selected="true"], &:not([aria-disabled="true"]):hover, &:focus {
        color: $gray1;
        text-shadow: $text-shadow;
        outline: none;
      }
    }
  
    .bp3-tab-text {
      color: $gray1;
      font-weight: 600;
      line-height: 30px;
    }
  
    .bp3-control{
      &.bp3-tab {
        margin-bottom: 0;
      }
  
      & input:checked ~ .bp3-control-indicator {
        background-color: $forest4;
      }
  
      &:hover input:checked ~ .bp3-control-indicator {
        background-color: $forest3;
      }
  
      input:not(:disabled):active:checked ~ .bp3-control-indicator {
        background-color: $forest2;
      }
    }
    
    .bp3-html-select.bp3-minimal select {
      color: $gray1;
      font-weight: 600;
      &:hover, &:focus {
        color: $gray1;
        text-shadow: $text-shadow;
        background: none;
        outline: none;
      }
    }
  
    .bp3-tab-indicator-wrapper {
      .bp3-tab-indicator {
        background-color: $gray1;
      }
    }
  }
}
