@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "./common/variables.scss";

$pt-text-color: $red1 !default;

body {
  margin: 0px;
  background: url(/images/player4.png) right bottom no-repeat fixed, url(/images/texture.png), $gray3;
  --background-size: contain;
  font-size: 0.9rem;
}

.footer {
  width: 100%;
  height: 25px;
  background: url(/images/grass.png) bottom repeat-x;
  position: fixed;
  bottom: 0;
  // left: 41px;
}

.bp3-menu {
    text-transform: capitalize;
    border-radius: 0;
    background-color: black;
    color: $light-text;
    min-width: 100px;

    .bp3-icon,
    .bp3-heading {
      color: $light-text;
    }

    .bp3-icon.bp3-intent-warning {
      color: $intent-warning;
    }

    .bp3-menu-header>h6 {
      text-align: center;
      font-size: 1.1em;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba($light-text, 0.5);
    }

    .bp3-menu-divider {
      border-top: 1px solid rgba($light-text, 0.5);
    }
}
